/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 28px;
  padding-top: 0;
}

#footer {
  margin-top:10px;
  width: 100%;
  height: 18px;
  font-size:12px;
}

#footer a {
    color:#555555;
}


.sp-jumbotron-custom-inverse {
  background-image: url(images/bg.jpg);
}



#top {
    margin-top:66px;
    position:relative;
}

img {
  margin: 0 auto;
}


p {
  margin-bottom: 18px; /* a little more breathing room between feature tiles in mobile
view) */
}

#info {
    font-size:32px;
    margin-bottom:0px;
}

#go {
    margin-top:20px;
    margin-bottom:20px;
}


#ttext {
    margin-top:20px;
    margin-bottom:30px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;

}

#jumbo-dialog {
    background: rgba(14,14,14, 0.4);
    border-radius:5px;
}


#buttons {
    margin-bottom:20px;
}

#genre {
    color:black;
}

.song-row {
    cursor:pointer;
}

.lead {
text-align:left;
}
