body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  max-width: 730px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color:white;
}

.jumbotron h1 {
    font-size:44px;
    font-weight:thin;
}

.container {
  max-width: 730px;
  margin-left:auto;
  margin-right:auto;
}

ol {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:-40px;
}

.ico {
    float:left;
    width:140px;
    margin-top:6px;
    margin-right:10px;
    margin-bottom:10px;
}
